<div>
  <a class="header-link" href="{{ .Site.BaseURL }}">
  <div class="logo"><img src="{{ "images/logo.svg" | absURL }}"/></div>
  <div class="title">
    <h1>{{ site.Title }}</h1>
    {{- if ne .Site.Params.description "" }}
    <span>{{ .Site.Params.description }}</span>
    {{- end }}
  </div>
  </a>
</div>
<div class="version-container">
  {{- with .Site.Params.version -}}
    <p class="version">Version {{ . }}</p>
  {{- end -}}
</div>
{{- if .Site.Params.header_menu }}
<div class="menu-container">
  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
</div>
{{- end -}}
