/* Redbook Chroma Theme */

$redbook-bg: #cecece;       
$redbook-fg: #222;          
$redbook-line-num: #555;    
$redbook-highlight: #bfbfbf;

// palette
$redbook-red: #b00020;      
$redbook-green: #0a730a;    
$redbook-blue: #005faf;     
$redbook-purple: #7b3fbf;   
$redbook-yellow: #b58900;   
$redbook-orange: #b75a00;   
$redbook-cyan: #007b83;     
$redbook-sand: #8c7c3a;     
$redbook-lightgray: #777;   

.bg {
  color: $redbook-fg;
  background-color: $redbook-bg;
}

.chroma {
  color: $redbook-fg;
  background-color: $redbook-bg;
  border-radius: $radius-default;
  border-right: $border-small solid $secondary-color;
  border-bottom: $border-small solid $secondary-color;
  padding: 1rem;
  overflow-x: auto;

  .lnlinks { outline: none; text-decoration: none; color: inherit; }

  .lntd,
  .lntable {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }

  .lntable { border-spacing: 0; }

  .hl { background-color: $redbook-highlight; }

  .lnt,
  .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em;
    color: $redbook-line-num;
  }

  .line { display: flex; }

  /* Keywords */
  .k,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr { color: $redbook-red; }

  .kt { color: $redbook-purple; }

  /* Names */
  .no { color: $redbook-cyan; }
  .nv,
  .vc,
  .vg,
  .vi,
  .vm { color: $redbook-sand; }
  .nf,
  .fm { color: $redbook-yellow; }

  /* Strings */
  .s,
  .sa,
  .sb,
  .sc,
  .sd,
  .s1,
  .s2,
  .se,
  .sh,
  .si,
  .sr,
  .sx,
  .dl { color: $redbook-blue; }

  .ss { color: $redbook-orange; }

  /* Numbers */
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .il,
  .mo { color: $redbook-orange; }

  /* Comments */
  .c,
  .ch,
  .cm,
  .c1,
  .cs { color: $redbook-green; }

  .cp,
  .cpf { color: $redbook-lightgray; }

  /* Generics */
  .gd { color: $redbook-red; }
  .ge { font-style: italic; }
  .gh { color: $redbook-yellow; font-weight: bold; }
  .gi { color: $redbook-green; }
  .gs { font-weight: bold; }
  .gu { color: $redbook-blue; font-weight: bold; }
}
