nav {
  display: block;
  
  ul {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0 1rem;

    li {
      display: inline;
      margin: 0;
      padding-right: 0.25rem;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  a {
    color: $quaternary-color;
    text-decoration: none;
  }
}

#backtotop-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.25rem 0.5rem;
  margin: 0;
  text-decoration: none;
  opacity: 0;
  display: none;
  transition: opacity 0.4s;

  border-width: 3px;
  border-color: $secondary-color transparent transparent $secondary-color;
  border-style: solid;
  border-start-start-radius: 10px;
  color: $quaternary-color;
  background-color: $primary-color;

  &:hover {
    cursor: pointer;
  }
}

.headerlink {
  color: $secondary-color;
  margin-left: 0.5rem;
  
  wa-icon {
    font-size: 1.125rem;
    vertical-align: middle;
  }
}
