@import "variables";
@import "highlight";

body {
  color: $primary-color;
  background-color: $quaternary-color;
  font-family: $default-font-family;
  line-height: 1.5;
  margin: 0;

  scrollbar-color: $secondary-color $primary-color;
  scrollbar-width: 10px;
  --scrollbar-color-track: $primary-color;
  --scrollbar-color-thumb: $secondary-color;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: $primary-color;
  border-left-width: $border-xsmall;
  border-left-style: solid;
  border-left-color: $secondary-color;
  -webkit-box-shadow: inset 0 0 $border-xsmall $tertiary-color;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
}

@import "header";
@import "nav";
@import "sidebar";
@import "footer";
@import "pagination";

.post-title {
  margin: 0.125rem 0;
}

.section-item {
  padding: 0.25rem 0;
}

main {
  padding: 1rem 1rem 2rem 1rem;
  width: 100vw;
}

a {
  color: $primary-color;
  text-decoration: underline;

  &:hover {
    color: $secondary-color;
  }
}

hr {
  border-color: $secondary-color;
  border-width: $border-small;
}

blockquote {
  border-inline-start-color: $secondary-color;
}

thead {
  background-color: $highlight-color;
  border-bottom: $border-small solid $secondary-color;
}

tr th:first-child {
  border-top-left-radius: $radius-default; 
}

tr th:last-child {
  border-top-right-radius: $radius-default; 
}

.datetime {
  margin-bottom: 0.25rem;
}

time {
  margin-inline-start: 1.125em;
}

.highlight {
  margin-block-end: 24px;
}


.page-meta {
  margin-top: 2rem;

  p {
    padding: 0;
    margin: 0;
  }

  .terms {
    > ul,
    > ul > li {
      display: inline-block;
    }
    > ul > li {
      margin-left: 0.25rem;
    }
    > ul > li:first-child {
      margin-left: 0 !important;
    }
  }
}

.split-panel {
  display: flex;
  
  @include respond-to(md) {
    display: block;
  }
}

@import "overrides";
